<a href="https://colab.research.google.com/github/Xicoat/100DaysCodePython/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# El tipo de datos int no tiene método len
len(234)

TypeError: ignored

In [3]:
# String
# Las cadenas estan compuestas de caracteres que pueden ser llamados individualmente
print("Hello"[4])

o

In [5]:
# Integer
# Para declarar un entero simplemente escribimos el numero sin nada adicional
123 + 345

468

In [7]:
# Para visualizar numeros enteros muy largos podemos usar guion bajo
123_235_346_534_634

123235346534634

In [8]:
# Float
# Puede almacenar números decimales.
3.1415

3.1415

In [9]:
# Boolean
True
False

False

In [10]:
# Errores de tipo de dato
num_char = len(input("What is your name?"))
print("Your name has " + num_char + "characters")

What is your name?hola

TypeError: ignored

In [12]:
# podemos ver el tipo de dato con type()
print(type(num_char))

<class 'int'>

In [15]:
# Podemos hacer una conversión de tipo de dato con los métodos int(), str(), float, bool()
new_num_char = str(num_char)
print("Your name has " + new_num_char + " characters")

Your name has 4 characters

In [16]:
print(70 + float("100.5"))

170.5

In [17]:
print(str(70) + str(100))

70100

In [18]:
# Code Challenge
number = input("Type a two digit number: ")
print(int(str(number)[0]) + int(str(number)[1]))

Type a two digit number: 34
7

In [19]:
# Prioridad de operadores
# PEMDAS
# P Parentesis
# E Exponente
# M Multiplicacion
# D Division
# A Adicion
# S Sustraccion 
print(3 * 3  + 3 / 3 - 3)

7.0

In [24]:
# Code Challenge
height = input("enter your height in m: ")
weight = input("enter your weight in kg: ")

bmi = int(float(weight) / float(height) ** 2)

print(bmi)

enter your height in m: 1.8
enter your weight in kg: 64
19

In [25]:
# Round
print(round(8/3, 2))

2.67

In [26]:
# Floor division
# Regresa el entero mas grande posible que sea igual o menor al resultado de la division normal
print(8 // 3)

2

In [28]:
# Podemos usar la misma variable para las operaciones 
score = 25
score += 1
print(score)

26

In [29]:
# f strings
score = 0
height = 1.8
isWinning =  True
print(f" your score is {score}, your height is {height}, you are winning is {isWinning}")

 your score is 0, your height is 1.8, you are winning is True

In [35]:
# Code challenge
age = input("What is your current age? ")
left = 90 - int(age)
print(f"You have {left*365} days, {left*52} weeks, and {left*12} months left.")

What is your current age? 56
You have 12410 days, 1768 weeks, and 408 months left.

In [42]:
# Day Project
print("Welcome to the tip calculator")
bill = float(input("What was the total bill? $"))
tip = int(input("What percentage tip would you like to give? 10, 12, or 15? "))
split = int(input("How many people to split the bill? "))
print(f"Each person should pay: ${round(((bill*(tip/100))+bill)/split, 2)}")

Welcome to the tip calculator
What was the total bill? $124.56
What percentage tip would you like to give? 10, 12, or 15? 12
How many people to split the bill? 7
Each person should pay: $19.93